black
ipdb
ipython
isort
joblib==0.17.0
matplotlib==3.3.3
mido==1.2.9
networkx==2.5
numpy==1.19.4
pretty_midi==0.2.9
pytest
pytest-cov
scipy==1.6.2
tables==3.6.1
torch==1.6.0
torchvision==0.7.0
tqdm==4.51.0
